.article-heading {
    text-align: start;
    font-size: 400%;
    font-weight: bold;
}

.article-list {
    padding: 1%;
}

.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}