.app {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0% 2% 0% 2%;
}

.header>h1{
  font-style: italic;
  font-weight: bold;
  font-size: 250%;
}
